.categories {
  position: sticky;
  margin-bottom: 56px;
  margin-left: -15px;
}

.category__container {
}

.items {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}
.li__item {
}
.item {
  padding: 14px 24px;
  border: 1px solid #444;
  text-transform: capitalize;
  border-radius: 100px;
  color: #292929;
  border: none;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;

  font-weight: 500;

  &:hover {
    background-color: #ec8d1e;
    color: #fff;
    transition: all .7s ease;
  }
}

