.products {
  &__container {
    .title {
      font-weight: 700;
      font-size: 32px;
      line-height: 40px;
      color: #292929;
      margin-bottom: 24px;
      text-transform: capitalize;
    }
    .items {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
      border-radius: 12px;
      margin-bottom: 56px;
      gap: 16px;
    }
    .card {
      display: grid;
      grid-template-rows: auto 1fr minmax(40px, auto);
      background-color: #fff;
      border-radius: 12px;
      overflow: hidden;
      // height: 450px;
      &__image {
        margin-bottom: 24px;
        padding-top: 16px;
        text-align: center;
        height: 300px;
        width: 100%;
        object-fit: contain;
      }

      &__body {
        .card__title {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          color: #292929;
          margin-bottom: 8px;
          padding-left: 16px;
          padding-right: 16px;

          overflow: hidden;
          width: 300px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        .card__description {
          font-weight: 500;
          font-size: 16px;
          line-height: 20px;
          color: #808080;
          margin-bottom: 24px;
          padding-left: 16px;
          padding-right: 16px;

          overflow: hidden;
          width: 300px;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }
      }

      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 16px;
        .card__price {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: #ec8d1e;
        }

        .card__button {
        }
      }
    }
  }
}

.two-line-ellipsis {
  overflow: hidden;
  width: 325px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
