.wrapper {
  display: flex;
  flex-direction: column;
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background: #E5E5E5;
  /* max-width: 1440px; */
  margin: 0 auto;
}
